# Configuration for coverage.py (https://pypi.python.org/pypi/coverage)

[run]
# Enable branch coverage
branch = True

[report]

# Regexes for lines to exclude from consideration
exclude_lines =

    # Ignore non-runnable code
    if __name__ == .__main__.:

# Only check coverage for source files
include =
    utilities/add_language.py
    utilities/book_parser.py
    utilities/language_parser.py
    utilities/version_parser.py
    utilities/update_language.py
    utilities/update_languages.py
    yvs/clear_cache.py
    yvs/copy_ref.py
    yvs/filter_prefs.py
    yvs/filter_refs.py
    yvs/get_ref_url.py
    yvs/search_ref.py
    yvs/search_refs.py
    yvs/set_pref.py
    yvs/shared.py
    yvs/yv_parser.py
