# Configuration for coverage.py (https://pypi.python.org/pypi/coverage)

[run]
# Enable branch coverage
branch = True

[report]

# Regexes for lines to exclude from consideration
exclude_lines =
    # Allow source to designate lines/branches to be skipped
    pragma: no cover

    # Ignore non-runnable code
    if __name__ == .__main__.:

# Only check coverage for source files
include =
    yv_suggest/shared.py
    yv_suggest/filter_refs.py
    yv_suggest/filter_prefs.py
    yv_suggest/view_ref.py
    yv_suggest/search_ref.py
    yv_suggest/set_pref.py
