# Configuration for coverage.py (https://pypi.python.org/pypi/coverage)

[run]
# Enable branch coverage
branch = True

[report]

# Regexes for lines to exclude from consideration
exclude_lines =
    # Allow source to designate lines/branches to be skipped
    pragma: no cover

    # Ignore non-runnable code
    if __name__ == .__main__.:

# Only check coverage for source files
include =
    yvs/shared.py
    yvs/filter_refs.py
    yvs/filter_recent_refs.py
    yvs/filter_prefs.py
    yvs/view_ref.py
    yvs/copy_ref.py
    yvs/search_ref.py
    yvs/set_pref.py
