# Travis CI Configuration

language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - coverage run -m nose
  - pycodestyle yvs/*.py
after_success:
  - coveralls
