alfred-workflow-packager==2.0.0
attrs==21.4.0
biplist==1.0.3
coverage==6.3.2
flake8==4.0.1
isort==5.10.1
jsonschema==4.4.0
mccabe==0.6.1
nose2==0.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyrsistent==0.18.1
six==1.16.0
