alfred-workflow-packager==3.1.1
attrs==25.3.0
black==25.1.0
click==8.1.8
coverage==7.8.0
flake8==7.2.0
flake8-black==0.3.6
flake8-isort==6.1.2
isort==6.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mccabe==0.7.0
mypy-extensions==1.0.0
nose2==0.15.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pycodestyle==2.13.0
pyflakes==3.3.2
referencing==0.36.2
rpds-py==0.24.0
tomli==2.2.1
