# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Check lockfile
      run: uv lock --check

    - name: Test with pytest
      run: uv run pytest --cov --cov-report=term-missing --cov-report=lcov:cover/coverage.lcov

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        path-to-lcov: cover/coverage.lcov
        github-token: ${{ secrets.GITHUB_TOKEN }}
